@{
    ViewData["Title"] = "Ballong Ab";
}

    <div class="text-center">
        <h1 class="display-4">Arkitektbyrån Ballong AB</h1>
        <img class="w-75 p-3 img-responsive img-fluid img-thumbnail" alt="Ballong" src="~/img/Ballong.jpg" />
    </div>
